<div class="password-generator-block password-settings">
  <div class="row">
    <h2>Customize</h2>
  </div>
  <hr>
  <div class="row">
    <div class="col-6-sm settings-block">
      <div class="setting">
        Password Length
      <input class="length" type="number" [(ngModel)]="length" (ngModelChange)="settingsUpdated('length', $event)">
      </div>
      <div class="setting">
        <mat-slider color="accent" class="slider">
          <input matSliderThumb [(ngModel)]="length" [min]="minLength" [max]="maxLength" (ngModelChange)="settingsUpdated('length', $event)">
        </mat-slider>
      </div>
    </div>
    <div class="col-6-sm settings-block">
      <div *ngFor="let toggle of toggles" class="setting">
        <mat-slide-toggle
        class="toggle"
        color="primary"
        [name]="toggle"
        [(ngModel)]="options[toggle]"
        (change)="settingsUpdated('toggle', $event)">
        Include {{toggle}}
      </mat-slide-toggle>
      </div>
    </div>
  </div>

</div>
