// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.example-nav {
  background-color: #9575cd;
}

.example-container {
  background-color: #555;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 60px;
}
