<div class="body-wrapper" [ngClass]="appGlobal.getMenuOpened() ? 'menu-opened' : 'menu-closed'">

  <div class="title content-block">
    <h1>
      Generate an awesome password
    </h1>
    <p>Here's some content on why a password needs to be strong <a href="">my blog</a></p>
  </div>

  <div class="intro content-block">
    <h1>
      Instantly generate an awesome password
    </h1>
    <p>Here's some content on why a password needs to be strong <a href="">my blog</a></p>
    <br>
    <p>Here's some content on why a password needs to be strong <a href="">my blog</a></p>

  </div>




</div>
